<header class="intro-header">
    <div class="container">
      <div class="intro-message">
        <h1>Civic Hackers</h1>
        <!-- <h3>Lorem Ipsum is a very beautiful thing</h3> -->
        <hr class="intro-divider">
        <ul class="list-inline intro-social-buttons">
          <li class="list-inline-item">
            <span class="network-name">
              <input type="file" (change)="onFileSelected($event)"/>
              <button class="btn btn-primary"  (click)="onUpload()">Upload</button>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </header>