<div class="container">
    <h1 class="my-4">
      Preços de mercado
    </h1>

    <h5 class="alert alert-warning">
        Esses concorrentes tem um preço inferior ao que você está cotando
        para estes produtos
    </h5>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Fornecedor 1</a>
            </h4>
            <h5>R$2,14</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
          </div>
        </div>
      </div>
    </div>